<template>
  <q-page>
    <div class="q-pa-md">
      <div class="q-gutter-md row">
        <q-input
          v-model.number="rows"
          type="number"
          filled
          label="Number of Rows"
          class="col"
          :disable="disable"
        ></q-input>
        <q-input
          v-model.number="cols"
          type="number"
          filled
          label="Number of Columns"
          class="col"
          :disable="disable"
        ></q-input>
      </div>
      <div class="q-pt-md q-gutter-md row">
        <div class="col">
          <q-badge color="secondary">
            Speed: {{ speed }}
          </q-badge>
          <q-slider v-model="speed" :min="1" :max="50"></q-slider>
        </div>
        <div class="col">
          <q-badge color="secondary">
            Simulation Steps: {{ simSteps }}
          </q-badge>
          <q-slider v-model="simSteps" :min="1" :max="50"></q-slider>
        </div>
      </div>
      <div class="q-pt-md q-gutter-md row">
        <q-select
          outlined
          label="Persons Position"
          v-model="sel_persons"
          multiple
          :options="pot_options"
          :option-label="opt => '(x: ' + opt.row + ', y: ' + opt.col + ', v: '+opt.speed+')'"
          class="col"
          :disable="disable"
        ></q-select>
        <q-select
          outlined
          label="Obsticales Position"
          v-model="sel_obsticales"
          multiple
          :options="pot_options"
          :option-label="opt => '(' + opt.row + ',' + opt.col +')'"
          class="col"
          :disable="disable"
        ></q-select>
        <q-select
          outlined
          label="Target Position"
          v-model="sel_target"
          :options="pot_options"
          :option-label="opt => '(' + opt.row + ',' + opt.col +')'"
          class="col"
          :disable="disable"
        ></q-select>
      </div>
      <div class="row q-pt-md q-gutter-md">
        <q-btn push label="TEST1" :disable="disable" @click="test1()"></q-btn>
        <q-btn push label="TEST2" :disable="disable" @click="test2()"></q-btn>
        <q-btn push label="TEST3" :disable="disable" @click="test3()"></q-btn>
        <q-btn push label="Chicken Test" :disable="disable" @click="chickenTest()"></q-btn>
        <q-btn push label="Bottleneck Test" :disable="disable" @click="bottleneckTest()"></q-btn>
        <q-btn push label="Empty" :disable="disable" @click="test5()"></q-btn>
        <q-btn push label="RiMEA 1 (straight line)" :disable="disable" @click="test6()"></q-btn>
        <q-btn push label="RiMEA 4 (fundamental dia.)" :disable="disable" @click="test7()"></q-btn>
        <q-btn push label="RiMEA 6 (around corner)" :disable="disable" @click="aroundCorner()"></q-btn>
        <q-btn push label="RiMEA 7 (demographic parameters)" :disable="disable" @click="demographic()"></q-btn>
      </div>
      <div class="row q-pt-md q-gutter-md">
        <q-btn class="col"
               color="white"
               text-color="black"
               label="Send Config and Play"
               @click="sendConfig()"
               :disable="disable"></q-btn>
      </div>
    </div>
    <div class="q-pa-md q-gutter-md">
      <div class="wrapper" >
        <div class="grid-item" v-for="i of xy" :key="i" ref="its"></div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { axiosInstance } from 'boot/axios'
import { Notify } from 'quasar'

export default {
  name: 'PageIndex',
  data () {
    return {
      rows: 0,
      cols: 0,
      pot_options: [],
      sel_persons: [],
      sel_obsticales: [],
      sel_target: null,
      old_persons: [],
      disable: false,
      speed: 1,
      simSteps: 20
    }
  },
  computed: {
    // grid values
    xy: function () {
      // console.log(this.x * this.y)
      return this.rows * this.cols
    }
  },
  methods: {
    // play the simulation
    playSimulation: async function (stateList) {
      for (var s of stateList) {
        await (async () => new Promise(resolve => setTimeout(resolve, 300)))()
        this.update_grid(s)
        for (var i of s) {
          this.old_persons.push(i)
        }
        // console.log('WAIT')
      }
      this.old_persons = []
      this.disable = false
    },
    // send the config und wait for the return
    sendConfig: function () {
      var cellA = {
        id: '1',
        row_size: this.rows,
        col_size: this.cols,
        simsteps: this.simSteps,
        state: {
          persons: this.sel_persons,
          obstacles: this.sel_obsticales,
          target: this.sel_target
        }
      }
      // disable the input.
      this.disable = true
      axiosInstance
        .post('/simulate', cellA)
        .then(r => {
          this.playSimulation(r.data.step)
        })
        .catch(error => {
          Notify.create({
            progress: true,
            timeout: 2500,
            color: 'negative',
            position: 'top',
            message: error.response.data.detail,
            icon: 'report_problem'
          })
          this.disable = false
        })
        .finally(() => {
        })
    },
    // render function as stated in the report.
    update_grid: function (simResPerson) {
      var persons = (simResPerson === null) ? this.sel_persons : simResPerson
      if (this.$refs.its !== undefined) {
        for (var gridele of this.$refs.its) {
          gridele.style.backgroundColor = '#e6e6ff'
        }

        for (var operson of this.old_persons) {
          var idxOPerson = this.IDX(operson.row, operson.col)
          this.$refs.its[idxOPerson].style.backgroundColor = '#ffcccb'
        }

        for (var person of persons) {
          var idxPerson = this.IDX(person.row, person.col)
          // console.log(idx)
          this.$refs.its[idxPerson].style.backgroundColor = 'red'
        }

        for (var obs of this.sel_obsticales) {
          var idxObsticale = this.IDX(obs.row, obs.col)
          // console.log(idx)
          this.$refs.its[idxObsticale].style.backgroundColor = 'black'
        }

        if (this.sel_target !== null) {
          var idxTarget = this.IDX(this.sel_target.row, this.sel_target.col)
          this.$refs.its[idxTarget].style.backgroundColor = 'green'
        }
      }
    },
    // add new options to the inputs.
    new_options: function () {
      var options = []

      for (var i = 0; i < this.rows; i++) {
        for (var j = 0; j < this.cols; j++) {
          var obj = { row: i + 1, col: j + 1, speed: this.speed }
          options.push(obj)
        }
      }

      this.pot_options = Object.freeze(options)
    },
    // mapper 2d to 1d
    // #define IDX(X,Y,WIDTH) ((X) + (Y) * (WIDTH))
    // -------> y
    // |
    // |
    // v
    // x
    IDX: function (cx, cy) {
      cx = cx - 1
      cy = cy - 1
      return cy + cx * this.cols
    },
    test1: async function () {
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.rows = 5
      this.cols = 5
      await this.rows
      await this.cols
      this.sel_persons.push({ row: 2, col: 2, speed: 1 })
      this.sel_target = { row: 3, col: 4 }

      this.simSteps = 5
    },
    test2: async function () {
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.rows = 50
      this.cols = 50
      await this.rows
      await this.cols

      this.sel_persons.push({ row: 5, col: 25, speed: 1 })
      this.sel_target = { row: 25, col: 25 }

      this.simSteps = 20
    },
    test3: async function () {
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.rows = 50
      this.cols = 50
      await this.rows
      await this.cols

      this.sel_persons.push({ row: 5, col: 25, speed: 1 })
      this.sel_persons.push({ row: 25, col: 5, speed: 1 })
      this.sel_persons.push({ row: 45, col: 25, speed: 1 })
      this.sel_persons.push({ row: 25, col: 45, speed: 1 })
      this.sel_persons.push({ row: 40, col: 40, speed: 1 })
      this.sel_persons.push({ row: 11, col: 11, speed: 1 })
      this.sel_target = { row: 25, col: 25 }

      this.simSteps = 40
    },
    chickenTest: async function () {
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.rows = 6
      this.cols = 6
      await this.rows
      await this.cols

      this.sel_persons.push({ row: 4, col: 2, speed: 1 })
      this.sel_obsticales.push({ row: 2, col: 3 })
      this.sel_obsticales.push({ row: 2, col: 4 })
      this.sel_obsticales.push({ row: 2, col: 5 })
      this.sel_obsticales.push({ row: 3, col: 5 })
      this.sel_obsticales.push({ row: 4, col: 5 })
      this.sel_obsticales.push({ row: 5, col: 5 })
      this.sel_obsticales.push({ row: 5, col: 4 })
      this.sel_obsticales.push({ row: 5, col: 3 })
      this.sel_target = { row: 4, col: 6 }

      this.simSteps = 10
    },
    bottleneckTest: async function () {
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.rows = 15
      this.cols = 25
      await this.rows
      await this.cols

      for (var it1 = 1; it1 <= 15; it1++) {
        for (var it2 = 1; it2 <= 5; it2++) {
          this.sel_persons.push({ row: it1, col: it2, speed: 1 })
        }
      }
      for (var it3 = 1; it3 <= 6; it3++) {
        for (var it4 = 11; it4 <= 15; it4++) {
          this.sel_obsticales.push({ row: it3, col: it4 })
        }
      }
      for (var it5 = 10; it5 <= 15; it5++) {
        for (var it6 = 11; it6 <= 15; it6++) {
          this.sel_obsticales.push({ row: it5, col: it6 })
        }
      }
      this.sel_target = { row: 8, col: 25 }

      this.simSteps = 60
    },
    test5: async function () {
      this.rows = 25
      this.cols = 25
      await this.rows
      await this.cols
    },
    test6: async function () {
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.rows = 4
      this.cols = 122
      await this.rows
      await this.cols

      for (var it1 = 1; it1 <= this.cols; it1++) {
        this.sel_obsticales.push({ row: 1, col: it1 })
      }

      this.sel_obsticales.push({ row: 2, col: 1 })
      this.sel_obsticales.push({ row: 3, col: 1 })
      this.sel_obsticales.push({ row: 2, col: 122 })
      this.sel_obsticales.push({ row: 3, col: 122 })

      for (var it2 = 1; it2 <= this.cols; it2++) {
        this.sel_obsticales.push({ row: 4, col: it2 })
      }

      this.sel_persons.push({ row: 2, col: 2, speed: 1 })
      this.sel_target = { row: 2, col: 121 }

      this.simSteps = 122
    },
    test7: async function () {
      this.rows = 7
      this.cols = 1000
      await this.rows
      await this.cols

      this.simSteps = 200

      this.sel_persons.push({ row: 5, col: 1, speed: 1 })

      this.sel_persons.push({ row: 5, col: 100, speed: 1 })
      this.sel_persons.push({ row: 5, col: 101, speed: 1 })

      this.sel_persons.push({ row: 5, col: 200, speed: 1 })
      this.sel_persons.push({ row: 5, col: 201, speed: 1 })
      this.sel_persons.push({ row: 5, col: 202, speed: 1 })

      this.sel_persons.push({ row: 5, col: 300, speed: 1 })
      this.sel_persons.push({ row: 5, col: 301, speed: 1 })
      this.sel_persons.push({ row: 5, col: 302, speed: 1 })
      this.sel_persons.push({ row: 5, col: 303, speed: 1 })

      this.sel_persons.push({ row: 5, col: 400, speed: 1 })
      this.sel_persons.push({ row: 5, col: 401, speed: 1 })
      this.sel_persons.push({ row: 5, col: 402, speed: 1 })
      this.sel_persons.push({ row: 5, col: 403, speed: 1 })
      this.sel_persons.push({ row: 5, col: 404, speed: 1 })

      this.sel_persons.push({ row: 5, col: 500, speed: 1 })
      this.sel_persons.push({ row: 5, col: 501, speed: 1 })
      this.sel_persons.push({ row: 5, col: 502, speed: 1 })
      this.sel_persons.push({ row: 5, col: 503, speed: 1 })
      this.sel_persons.push({ row: 5, col: 504, speed: 1 })
      this.sel_persons.push({ row: 5, col: 505, speed: 1 })
      this.sel_target = { row: 5, col: 1000 }
    },
    aroundCorner: async function () {
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.rows = 12
      this.cols = 17
      await this.rows
      await this.cols

      for (var it1 = 10; it1 <= 11; it1++) {
        for (var it2 = 1; it2 <= 10; it2++) {
          this.sel_persons.push({ row: it1, col: it2, speed: 1 })
        }
      }
      for (var it3 = 1; it3 <= 17; it3++) {
        this.sel_obsticales.push({ row: 12, col: it3 })
      }
      for (var it4 = 1; it4 <= 14; it4++) {
        this.sel_obsticales.push({ row: 9, col: it4 })
      }
      for (var it5 = 1; it5 <= 11; it5++) {
        this.sel_obsticales.push({ row: it5, col: 17 })
      }
      for (var it6 = 1; it6 <= 8; it6++) {
        this.sel_obsticales.push({ row: it6, col: 14 })
      }
      this.sel_target = { row: 1, col: 16 }

      this.simSteps = 20
    },
    demographic: async function () {
      this.rows = 50
      this.cols = 7
      await this.rows
      await this.cols

      this.simSteps = 3

      // 80 years old
      for (var it1 = 1; it1 <= 7; it1++) {
        this.sel_persons.push({ row: it1, col: 1, speed: 21 })
      }

      // 70 years old
      for (var it2 = 1; it2 <= 7; it2++) {
        this.sel_persons.push({ row: it2, col: 2, speed: 33 })
      }

      // 60 years old
      for (var it3 = 1; it3 <= 7; it3++) {
        this.sel_persons.push({ row: it3, col: 3, speed: 37 })
      }

      // 50 years old
      for (var it4 = 1; it4 <= 7; it4++) {
        this.sel_persons.push({ row: it4, col: 4, speed: 42 })
      }

      // 40 years old
      for (var it5 = 1; it5 <= 7; it5++) {
        this.sel_persons.push({ row: it5, col: 5, speed: 45 })
      }

      // 30 years old
      for (var it6 = 1; it6 <= 7; it6++) {
        this.sel_persons.push({ row: it6, col: 6, speed: 46 })
      }

      // 20 years old
      for (var it7 = 1; it7 <= 7; it7++) {
        this.sel_persons.push({ row: it7, col: 7, speed: 48 })
      }
      this.sel_persons.push({ row: 8, col: 7, speed: 48 })
      this.sel_target = { row: 50, col: 4 }
    }
  },
  watch: {
    rows: function () {
      document.documentElement.style.setProperty('--rowNum', this.rows)
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.new_options()
    },
    cols: function () {
      document.documentElement.style.setProperty('--colNum', this.cols)
      this.sel_persons = []
      this.sel_obsticales = []
      this.sel_target = null
      this.new_options()
    },
    sel_persons: function () {
      this.update_grid(null)
    },
    sel_obsticales: function () {
      this.update_grid(null)
    },
    sel_target: function () {
      this.update_grid(null)
    },
    speed: function () {
      this.new_options()
    }
  }
}
</script>

<style lang="scss">
  // create the grid with css.
  :root {
    --rowNum: 0;
    --colNum: 0;
    --gridHeight: calc(100vh / var(--rowNum) - 5px * (var(--rowNum) - 1) / var(--rowNum));
  }
</style>
<style scoped lang="scss">
  .wrapper {
    display: grid;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-template-columns: repeat(var(--colNum), auto);
    gap: 1px;
  }
  .grid-item {
    grid-column-start: auto;
    grid-row-start: auto;
    background-color: #e6e6ff;
  }
  // @for $i from 0 to 100 {
  //   .grid-item:nth-child(#{$i}) {
  //     background-color: rgba(random(256)-1, random(256)-1, random(256)-1, random(10)/10);
  //   }
  // }
</style>
